  /* fonts */




/* Sidebar estilo oscuro fijo */
.sidebar {
    background-color: #03081d !important;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
  }
  
  /* movimiento de p[agina */
  @media (min-width: 992px) {
    body {
      background-color: #f8f9fa !important;
      margin: 0;
      overflow: hidden;
      color: white;
    }
  
    .content {
      height: 100vh;
      overflow-y: auto;
      padding: 2rem;
      margin-left: 16.66%;
    }
  
    .col-lg-3 {
      width: 25%;
    }
  
    .col-lg-9 {
      width: 75%;
      margin-left: 25%;
    }
  }
  body {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color: #343a40 !important;
  }
  /* Enlaces del sidebar */
  .sidebar .nav-link {
    color: white;
    transition: color 0.3s ease;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .sidebar .nav-link:hover {
    color: #00bfff;
  }
  /* hero section */
  #Hero-Section {
    background-image: url("../images/bg-forest.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
  }

  #Hero-Section .item-size {
    position: absolute;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 400px;
    height: auto;
  }

  h2 {
    color: black;
    padding-bottom: 2vh;
    
  }
  p  {
    color: #343a40 !important
}

.sidebar .nav-link {
    color: white;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    text-align: center;
    transition: color 0.3s ease;
  }

  .perfil-foto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #00bfff;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
  }
  /* shape divider */
  .custom-shape-divider-bottom-1743988244 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1743988244 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 135px;
}

.custom-shape-divider-bottom-1743988244 .shape-fill {
    fill: #F8F9FA;
}

  /* sección de descripciones */
.custom-line {
    width: 7%;
    border: none;
    border-top: 4px solid #14dcdf;
    margin: 10px 0;
    padding-top: 30px;
  }
  /* sobre mi */
  .personal-info ul li {
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .personal-info ul li::before {
    content: ">";
    position: absolute;
    left: 0;
    top: 0;
    color: #00bfff;
    font-size: 1.2rem; 
  }
  /* sección de experiencia */
  .card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

.bg-exp {
    background-color: #93daf2 !important;
}
h5 {
    color: #212529; 
    margin-bottom: 0.2rem;
}

.text-muted {
    font-size: 0.9rem;
}

.list-unstyled li {
    margin-bottom: 0.3rem;
}

/*Estilos para los iconos */
.fa-map-marker-alt,
.fa-phone,
.fa-envelope,
.fa-caret-right {
    color: #007bff; 
}